.banner__titulo{
 color: #ffffffff;
 font-family: Pacifico,cursive ;  
 font-size: 81px;
 line-height: 142px;
 position: absolute;
 left: 50%;
 text-align: center;
 top: 50%;
 text-shadow:0px 4px 4px rgba(0, 0, 0, 0.75);
 width: 100%;
 transform: translate(-50%, -50%);
 font-style: normal;
 font-weight:400;



}
